:root {
  --primary: #ff6453;
  --success: #67c23a;
  --warning: #e6a23c;
  --danger: #f56c6c;
  --info: #909399;
  --text-primary: #303133;
  --text-regular: #606266;
  --text-secondary: #909399;
  --text-placeholder: #c0c4cc;
}

/* global style */
*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
}

html {
  color: #191919;
  background: #fff;
  font-size: 16px;
  word-spacing: 1px;
  word-break: break-word;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

html,
button,
input,
optgroup,
select,
textarea {
  font-family: SF Pro Text, Helvetica Neue, -apple-system, Source Sans Pro,
    Microsoft Yahei, sans-serif;
}

@font-face {
  font-family: 'SF Pro Text';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~/assets/fonts/SF-Pro-Text-Medium.otf') format('OpenType');
}
@font-face {
  font-family: 'SF Pro Text';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('~/assets/fonts/SF-Pro-Text-Bold.otf') format('OpenType');
}
@font-face {
  font-family: 'SF Pro Text';
  font-style: italic;
  font-display: swap;
  src: url('~/assets/fonts/SF-Pro-Text-RegularItalic.otf') format('OpenType');
}

a {
  color: var(--primary);
  text-decoration: none;
}

/* mobile css */
@media (max-width: 500px) {
  .el-message {
    min-width: 300px !important;
  }
  .el-message-box {
    width: 300px !important;
    word-break: break-word;
  }
}
/* guide routing https://www.nuxtjs.cn/guide/routing */
.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}

.page-enter,
.page-leave-active {
  opacity: 0;
}
