:root {
  --primary: #5c99ea;
  --success: #67c23a;
  --warning: #e6a23c;
  --danger: #f56c6c;
  --info: #909399;
  --text-primary: #303133;
  --text-regular: #606266;
  --text-secondary: #909399;
  --text-placeholder: #c0c4cc;
}

/* 全局样式 */
*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
}

html {
  color: #191919;
  background: #fff;
  font-family: 'SF Pro Display', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  /* 文本溢出 */
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  /* 字体平滑 */
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

a {
  color: var(--primary);
  text-decoration: none;
}

@media screen and (max-width: 500px) {
  .el-message,
  .el-message-box {
    width: 300px;
  }
}
